/* Container for the adaptation selection component */
.adaptation-selection-container {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Trispace', 'sans-serif';
    color: #00113D;
}

/* Button styles */
.query-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 40px 10px;
}

.query-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: #00113D;
    background-color: #EFEFEF;
    border: 1px solid black;
    border-radius: 5px;
    width: 500px;
}

.execute-button {
    padding: 10px 40px;
    background-color: #86E7C4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
}

.execute-button:hover {
    background-color: #218838;
}

/* Tabs container and buttons */
.tabs-container {
    margin: 10px 100px;
    display: flex;
    justify-content: space-around;
}

.tab-button {
    border: none;
    padding: 10px 5px;
    background-color: white;
    color: rgba(155, 174, 188, 1);
    font-size: 20px;
    font-weight: bold;
    position: relative; /* Required for positioning the ::before element */
    cursor: pointer;
}

.tab-button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: rgba(134, 231, 196, 1);
    transition: width 0.3s ease; /* Animation for the border-bottom effect */
}

.tab-button.active::before {
    width: 100%; /* Full width when active */
}

.tab-button:hover::before {
    width: 100%; /* Full width on hover as well */
}

/* Error message styling */
.error-message {
    color: #dc3545;
    font-weight: bold;
}

/* Box container for results */
.box {
    margin-top: 20px;
    height: 350px;
    border: 1px solid #dee2e6;
    border-radius: 20px;
    background-color: #ffffff;
}

/* Container for query results and adaptation content */
.query-result-container,
.adaptation-content {
    margin-top: 20px;
    max-height: 250px; /* Adjust height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
}

/* Table container for query results */
.table-container {
    padding: 10px;
    max-height: 250px; /* Adjust height as needed */
    overflow-x: auto; /* Horizontal scrolling */
    overflow-y: auto; /* Vertical scrolling */
}

/* Table styling */
.query-result-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.query-result-table th,
.query-result-table td {
    padding: 10px;
    border: 1px solid #ffffff; /* Adjust border style */
}

.adaptationStep {
    background-color: white;
    text-align: left;
    padding-left: 50px;
}


