.header-container {
    display: flex;
    align-items: center;
    margin-left: 25%;
    margin-top: 5%;
  }
  
  .box-button-icon {
    margin-left: 10px; /* Adjust spacing as needed */
  }
  
  .header-container {
    display: flex;
    align-items: center;
    cursor: pointer; /* Changes cursor to pointer to indicate it's clickable */
  }
  
  .box-button-icon {
    margin-left: 10px; /* Adjust spacing as needed */
  }
  
  .popup-overlay-dbinfo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content-dbinfo {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 85%;
    height: 85%; 
    overflow-y: auto;
    overflow-x: auto;
  }
  
  .close-button-dbinfo {
    position: sticky;
    top: 1%;
    left: 90%;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
  }
  