/* Centering the header-container with smooth transition effect */
.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 60px auto 40px; /* Center horizontally with margin auto */
    position: relative; /* Ensure position context for animations */
    transition: transform 10ms ease-in-out, opacity 300ms ease-in-out;
}

/* Adding smooth exit animation */
.header-container-exit {
    opacity: 1;
    transform: scale(1) translateY(0); /* Initial state */
}

.header-container-exit-active {
    opacity: 0;
    transform: scale(0.9) translateY(-20px); /* Scale down and move up */
    transition: transform 10ms ease-in-out, opacity 10ms ease-in-out;
}


/* Ensure that components container has proper spacing and alignment */
.components-container {
    width: 900px;
    height: 550px;
    margin: 0 auto;
    position: relative; /* Ensure proper positioning context for children */
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading-message {
    color: white;
    font-size: 24px;
    font-weight: bold;
}
