.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 10ms ease-in-out;
}

/* Ensures that the start button does not move */
.start-button-div {
    transition: opacity 300ms ease-in-out;
}

.components-container {
    width: 900px;
    height: 550px;
    margin: 0 auto;
}