.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    border-radius: 8px;
    position: relative;
    left:5%;
    padding: 20px;
    width: 80vw; /* Fixed width */
    height: 80vh; /* Fixed height */
    max-width: 1000px; /* Maximum width */
    max-height: 800px; /* Maximum height */
    overflow: hidden; /* Hide overflow */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.chart-container {
    position: relative;
    width: 100%;
    height: 100%; /* Full height of the modal */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.chart {
    width:fit-content; /* Full width of chart-container */
    height: fit-content; /* Full height of chart-container */
}

.Bar {
    width: 90vw;  /* Width is 80% of the viewport width */
    height: 60vh; /* Height is 40% of the viewport height */
    max-width: 800px; /* Set a maximum width to avoid overly large charts on big screens */
    max-height: 600px; /* Set a maximum height to avoid overly large charts on big screens */
    margin: auto; /* Center the element horizontally */
}
.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.nav-button.prev {
    left: 10px;
}

.nav-button.next {
    right: 10px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #f00;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
