.pipeline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Full viewport width */
    flex-direction: column;
    transition: min-height 10s ease-in-out; /* Animation for height change */
}

.pipeline-start {
    min-height: 60vh;
}



.pipeline-other {
    min-height: 10vh; 
    margin-top: 20px;
}

.pipeline-text {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Fade and slide effect */
}

.pipeline-text-hide {
display: none;
}

.pipeline {
    display: flex;
    align-items: center;
    position: relative;
}


.step {
    width: 120px;
    margin: 5px 25px;
    text-align: center;
    align-items: center;
    color: rgba(0, 17, 61, 1);
}
.step-border {
    width: 50px;
    margin: 5px 50px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc; /* Default color */
    display: inline-block;
    transition: background-color 0.5s ease-in-out; /* Smooth color transition */
}

/* Style for previous steps' circles */
.circle-previous {
    background-color: rgb(0, 186, 0); /* Green color for previous circles */
}

/* Style for the current step's circle */
.circle-current {
    background-color: rgb(252, 192, 81); /* Yellow color for the current circle */
}

/* Optional: border style for start/end circles */
.circle-border {
    width: 30px;
    height: 30px;
}

.line {
    width: 120px;
    height: 2px;
    background-color: #00113D; /* Default line color */
    display: inline-block;
    transition: width 0.5s ease-in-out; /* Add an animation for line width, if desired */
}
