<<<<<<< HEAD
@font-face {
  font-family: 'Trispace';
  src: url('./fonts/Trispace-Regular.ttf') format('truetype'); /* Specify the path to your .ttf file */
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: rgba(219, 232, 240, 1);
  font-family: 'Trispace', sans-serif; /* Light gray background */
}

.start-button {
  width: fit-content;
  padding: 10px;
  margin-bottom: 50px;
  border-radius: 10px;
  background-color: rgba(0, 17, 61, 1);
  color: white;
  font-family: 'Trispace', sans-serif; 
  font-weight: bold;
  font-size: 20px;
}
=======
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
>>>>>>> 69698d1 (Initialize project using Create React App)
