@font-face {
  font-family: 'Trispace';
  src: url('./fonts/Trispace-Regular.ttf') format('truetype'); /* Specify the path to your .ttf file */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Trispace';
  src: url('./fonts/Trispace-Bold.ttf') format('truetype'); /* Specify the path to your .ttf file */
  font-weight: bold;
  font-style: normal;
}
body {
  background-color: rgba(219, 232, 240, 1);
  font-family: 'Trispace', sans-serif; /* Light gray background */
}

.start-button {
  width: fit-content;
  padding: 10px;
  margin-bottom: 50px;
  border-radius: 10px;
  background-color: rgba(0, 17, 61, 1);
  color: white;
  font-family: 'Trispace', sans-serif; 
  font-weight: bold;
  font-size: 20px;
}